$color-light-purple: rgb(239, 205, 247);
$color-dark-purple: rgba(226, 0, 247, 0.5);
$border: 1px solid $color-dark-purple;

$color-red: rgb(255, 87, 66);
$color-blue: rgb(144, 140, 254);
$color-white: rgb(207, 204, 196);

$page-title-font: 60px Arial;
$info-title-font: 24px Arial;
$text-font: 18px Arial;

$color-light-grey: rgb(229, 229, 229);

body {
  background: linear-gradient(to right, $color-light-purple, darken($color-light-purple, 20%));
}

#stadium, #selected, #pearls{
   position: absolute;
}

#stadium{
  z-index: 1;
}

#selected{
  z-index: 2;
}

#pearls{
  z-index: 3;
}

.title{
    width: 100%;
    margin-bottom: 40px;

    font: $page-title-font;
    color: darken($color-dark-purple, 40%);

    &-inner{
        max-width: 300px;
        margin: 5px auto;
    }
}

.game-table{
    display: table;
    width  : 100%;

    &-canvas, &-info{
        display: table-cell;
    }

    &-canvas{
        width: 700px;

        .canvas-wrapper{
            position: relative;
        }
    }

    &-info{
        width: 300px;
        padding-top: 25px;

        font: $text-font;

        &-title{
           padding: 10px 0;

           font: $info-title-font;
           font-weight: bold;
           color: darken($color-dark-purple, 40%);
        }

        &-radio{
            padding: 10px 0;

            & .radio{
                padding-left: 5px;

                &-label{
                    margin-left : 5px;
                    margin-right: 15px;

                }
            }
        }
    }
}

.button-a-wrapper{
  margin-top: 24px;
}
.fixed{
    position: absolute;
    top: 0;
    right: 10px;
    padding: 5px 0;

    text-align: center;
    font: $text-font;
}

.button-a{
    padding: 5px;

    border: 1px solid $color-dark-purple;
    border-radius: 4px;

    background: linear-gradient(to left, $color-light-purple, $color-dark-purple);

    text-decoration: none;

    &:hover{
       background-color: darken($color-dark-purple, 40%);
    }
}

@mixin colors{
    .red{
        background-color: $color-red;
    }
    .blue{
        background-color: $color-blue;
    }
    .white{
        background-color: $color-white;
    }
}

@mixin statistic{
  .wrapper{
      width: 100%;
      margin-top: 5px;
      @include colors;

      .statistic {
          display: inline-block;
          padding: 5px 0;
      }
  }
}


.game-statistic{
  text-align: center;

  @include statistic;
  .current-player{
    width: 100%;
    margin-top: 5px;
    padding: 5px 0;
  }
}

.banner{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 10;

    &-inner{
        min-width: 300px;
        max-width: 500px;
        margin: 300px auto;
        min-height: 200px;
        padding: 10px;

        background-color: $color-light-grey;

        opacity: 0.8;

        text-align: center;
        font: $info-title-font;

        #result{
          width: 100%;
          @include statistic;
        }
    }
}

div#blocking{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 9;
}
